@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Mulish&family=Rokkitt:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish';
}

.nav_bg, .container-fluid, .navbar-brand {
  background-color: white;
}
.navbar_links, .nav-item, .nav-link {
  background-color: white;
}

.nav-link:hover{
  color: #1a4f11;
}

.navbar-brand{
  font-size: 1.9rem ;
  color: #007cc7 ;
}

.ul_block li{
  margin: 8px;
}

.menu_active{
  border-bottom: 1px solid #007cc7 ;
  color: #007cc7 !important;
}

@media (max-width: 991px) {
  .menu_active{
    border-bottom: none;
  }
  
}

/* ------------------------------------ */

.coffee_img{
  width: 25px;
  height: 25px;
}


/* -------------- */

#header{
  width: 100%;
  height: 65vh;
  margin-top: 50px;
}

#header h2{
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  color: black;
}

#header .brand-name{
  color: #007cc7;
}

#header h4{
  color: black;
  font-size: 20px;
}

#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #02ac56;
  border: 2px solid #02ac56;
  text-decoration: none;
}

#header .btn-get-started:hover{
  background-color: #02ac56;
  color: white;
}

.header-img{
  text-align: right;
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down{
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}






.card_size{
  width: 300px;
  height: 160px;
}

.card div,p,h4{
  background-color: transparent;
}

.card_hover:hover{
  background-color: #e4e8e6;
  transition: 1s;
}

/* --------------------------------------------- */

input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }



/* ---------- Profile Section ----------------------- */

.profile .border_div{
  border: 2px solid black;  
}

.profile .center_div{
  display: flex;
  justify-content: center;
}


.profileImg{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile_tab{
  color: #02ac56 !important;
  background: #000 !important;
  background-color: #000 !important;
}





/* --------------------------------------------------------------------------------------------------- */

.hover_effect:hover{
  background-color: rgb(220, 219, 219);
}






/* Navbar */


.logo_image{
  width: 10rem;
  height: 5rem;
}



/* Footer */

.footer_bg{
  background-color: #007cc7;
}

/* All Section Common */
/* 
.section_bg{
  background-color: #007cc7;
} */

/* Feed */

.feed_sidebar{
  background-color: #007cc7;
  color: white;
  font-size: 12px;
  cursor: pointer;
}






.event_input{
  height: 30px;
  font-size: 15px;
}